Repository sibiraj-s/use-checkbox-tree: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add workflow to run tests
  .github/workflows/tests.yml
Due: prettier --write

Update ts-jest to v29.0.0-next.1
  package-lock.json
  package.json
Due: prettier --write

Fix types resolution
  tsconfig.json
Due: prettier --write

Add tests to increase coverage
  src/index.spec.ts
Due: eslint --fix

Add badges to README
  README.md
Due: prettier --write

Release v0.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Add workflow to publish to npm
  .github/workflows/npmpublish.yml
Due: prettier --write

Select node by default with selectNode method
  src/index.ts
Due: eslint --fix

Add clear method to checked items at once
  src/index.spec.ts
  src/index.ts
Due: eslint --fix

Update README.md
  README.md
Due: prettier --write

Fix lint script
  package.json
Due: prettier --write

Release v0.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update eslint config
  .eslintrc.yml
Due: prettier --write

Add deSelectNode method
  README.md
  src/index.ts
Due: eslint --fix, prettier --write

Release v0.1.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Fix typo in README
  README.md
Due: prettier --write

Bump devDependencies
  package-lock.json
  package.json
Due: prettier --write

Use nodejs v18 in GitHub actions
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
Due: prettier --write

Update devDependencies
  package-lock.json
  package.json
Due: prettier --write

Add Storybook
  .eslintrc.yml
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/tailwind.css
  package-lock.json
  package.json
  postcss.config.cjs
  src/vite.env.ts
  tailwind.config.js
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.node.json
  vite.config.js
Due: eslint --fix, prettier --write

Configure lint-staged to run prettier
  .lintstagedrc.yml
Due: prettier --write

Update icons
  src/stories/assets/file.svg
  src/stories/assets/folder.svg
Due: none

Cleanp Tree implementation
  .eslintrc.yml
  .storybook/main.ts
  package-lock.json
  package.json
  rollup.config.js
  src/Tree.tsx
  src/context.tsx
  src/helpers.ts
  src/index.ts
  src/types.ts
  stories/Tree.stories.tsx
  stories/assets/file.svg
  stories/assets/folder.svg
  tailwind.config.js
  tsconfig.eslint.json
  tsconfig.json
Due: eslint --fix, prettier --write

Configure publint
  .husky/pre-push
  package-lock.json
  package.json
Due: prettier --write

Update LICENSE
  LICENSE
Due: none

Add npm package provenance
  .github/workflows/npmpublish.yml
Due: prettier --write

Replace jest with vitest
  .husky/pre-push
  jest.config.ts
  package-lock.json
  package.json
  src/index.spec.ts
  vite.config.js
Due: eslint --fix, prettier --write

Print verbose test results
  package.json
  src/index.spec.ts
Due: eslint --fix, prettier --write

Generate lib types
  tsconfig.lib.json
Due: prettier --write

Update pre-push hook
  .husky/pre-push
Due: none

Add vitest coverage
  package-lock.json
  package.json
Due: prettier --write

Cleanup imports
  stories/Tree.stories.tsx
Due: eslint --fix

Cleanup types
  src/Tree.ts
  src/context.tsx
  src/types.ts
  stories/Tree.stories.tsx
Due: eslint --fix

Silence Known console errors in tests
  src/index.spec.ts
  src/test-utils.ts
Due: eslint --fix

Fix inconsistent indeterminate parent state
  src/Tree.ts
Due: eslint --fix

Cleanup types
  src/types.ts
  src/vite.env.ts
Due: eslint --fix

Convert state to Map
  README.md
  src/Tree.ts
  src/tree.spec.ts
  src/types.ts
  stories/Tree.stories.tsx
Due: eslint --fix, prettier --write

Rename Tree to useChecboxTree
  src/index.ts
  src/useCheckboxTree.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs}
  prettier --write: any of: *.{html,md,mdx,json,yaml,yml,css,scss}
