Repository sibiraj-s/use-checkbox-tree: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

Deploy storybook to github pages
  .github/workflows/pages.yml
Due: prettier --write

Update storybook theme
  .github/workflows/pages.yml
  .storybook/manager.ts
  .storybook/theme.ts
Due: eslint --fix, prettier --write

Add Missing storybook dependencies
  package-lock.json
  package.json
Due: prettier --write

Regenerate package-lock.json
  package-lock.json
Due: prettier --write

Release v0.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Bump devDependencies
  .storybook/main.ts
  package-lock.json
  package.json
  stories/Tree.stories.tsx
Due: eslint --fix, prettier --write

Bump devDependencies
  .storybook/main.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Update githubactions
  .github/workflows/npmpublish.yml
  .github/workflows/pages.yml
  .github/workflows/tests.yml
Due: prettier --write

Update tailwind to v4 + bump deps
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .storybook/preview.ts
  .storybook/tailwind.css
  package-lock.json
  package.json
  postcss.config.cjs
  tailwind.config.js
  tailwind.css
Due: eslint --fix, prettier --write

Fix pre-push script
  .husky/pre-push
Due: none

Migrate from rollup to tsup
  package-lock.json
  package.json
  postcss.config.js
  tsconfig.eslint.json
  tsup.config.ts
Due: eslint --fix, prettier --write

Bump dependencies
  package-lock.json
  package.json
Due: prettier --write

Bump github acitons
  .github/workflows/npmpublish.yml
  .github/workflows/pages.yml
  .github/workflows/tests.yml
Due: prettier --write

Bump dependencies and replace eslint+prettier
  .eslintrc.yml
  .lintstagedrc.yml
  .oxfmtrc.json
  .oxlintrc.json
  .prettierrc.yml
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.ts
  .storybook/theme.ts
  package-lock.json
  package.json
  src/helpers.ts
  src/test-utils.ts
  src/tree.spec.ts
  src/useCheckboxTree.ts
  src/vite.env.ts
  stories/Tree.stories.tsx
  tailwind.css
Due: eslint --fix, prettier --write

Replace tsup with tsdown
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
  tsdown.config.ts
Due: eslint --fix, prettier --write

Bump package-lock.json
  package-lock.json
Due: prettier --write

Set correct indeterminate state for children
  src/tree.spec.ts
  src/types.ts
  src/useCheckboxTree.ts
Due: eslint --fix, prettier --write

Release v0.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Require environment for npm publish
  .github/workflows/npmpublish.yml
Due: prettier --write

Bump dependencies
  .github/workflows/npmpublish.yml
  .github/workflows/pages.yml
  .github/workflows/tests.yml
  .storybook/main.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Fix checked state consistency in checkbox tree
  src/helpers.ts
  src/tree.spec.ts
  src/useCheckboxTree.ts
Due: eslint --fix, prettier --write

Use npm staged publishing
  .github/workflows/npmpublish.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs}
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs}) or (any of: *.{html,md,mdx,json,yaml,yml,css,scss})
